* {
margin: 0;
padding: 0;
box-sizing: borde-box;
}
body{
background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQ-HKUZh9R9wXJ5zJQOZVV8GDs_mb7vuGDATztNj1S8JLqaEpQD&usqp=CAU");
Height: 100vh;
width: 100vw
}
header{
height: 100vh;
Display: Flex;
justify-content: center;
align-items: center;
}
a {
color: white;
text-decoration: none;
}
.Menu{
background: #663399;
position: Fixed;
Top: 0;
width: 100vh;
}
.menu a{
display: Block;
padding: 5px 10px;
}
.Menu li{
list-style: none;
}
.Menu ul{
display: Flex;
justify-content: space-around
}
.site-title{
color: white;
text-align: center;
}
.Site-SubTitle{
color: white;
text-align: Center;
}
.img-Portifolio{
height: 180px;
width: 180px;
}
.title-portifolio{
color: white;
}
figcaption {
color: white;
}
