* {
margin: 0;
padding: 0;
box-sizing: borde-box;
}
body{
background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQdB-9M7PS6Ske_MbVA2giJEwkZwyqoeX6fq31xTNzmNZIILuc3&usqp=CAU");
background-size: auto 100vh;
Height: 100vh;
}
@media (min-width:400px){
	body{
font-size: 14px
}
}
@media (min-width:600px){
	body {
font-size: 16px
}
}
header{
height: 100vh;
Display: Flex;
justify-content: center;
align-items: center;
flex-wrap: wrap;
}
a {
color: white;
text-decoration: none;
}
.Menu{
background: #663399;
position: Fixed;
Top: 0;
width: 100vw;
}
.menu a{
display: Block;
padding: 10px;
text-decoration: none;
}
.Menu li{
list-style: none;
}
.Menu ul{
display: Flex;
justify-content: space-around;
}
.site-title{
color: white;
text-align: center;
}
.Site-SubTitle{
color: white;
text-align: Center;
}
.img-Portifolio{
height: 180px;
width: 180px;
}
.portifolio h2 {
color: white;
}
figcaption {
color: white;
}
